# Navigateurs supportés pour la production
[production]
>0.2%
not dead
not op_mini all

# Navigateurs supportés pour le développement
[development]
last 1 chrome version
last 1 firefox version
last 1 safari version 